
<div class="row">
  <footer class="mt-5 py-4 bg-dark text-white ">
    <div class="container text-center">
      <p class="mb-0">© 2025 Gestión de Libros - Todos los derechos reservados</p>
      <div class="mt-2">
        <a href="/acerca-de" class="text-light mx-2">Acerca de</a>
        <a href="/contacto" class="text-light mx-2">Contacto</a>
        <a href="/politica-privacidad" class="text-light mx-2">Privacidad</a>
      </div>
    </div>
  </footer>
</div>