<nav aria-label="Paginación">
  <ul class="pagination justify-content-center">
    <!-- Botón "Anterior" -->
    <% if (pagina > 1) { %>
      <li class="page-item">
        <a class="page-link" href="?pagina=<%= pagina - 1 %>&q=<%= q %>">
          &laquo; Anterior
        </a>
      </li>
    <% } else { %>
      <li class="page-item disabled">
        <span class="page-link">&laquo; Anterior</span>
      </li>
    <% } %>

    <!-- Botón Siguiente -->
    <% if (pagina < totalPaginas) { %>
      <li class="page-item">
        <a class="page-link" href="?pagina=<%= pagina + 1 %>&q=<%= q %>">
          Siguiente &raquo;
        </a>
      </li>
    <% } else { %>
      <li class="page-item disabled">
        <span class="page-link">Siguiente &raquo;</span>
      </li>
    <% } %>
  </ul>
</nav>