<div class="jumbotron text-center">
    <hr>
    <h1 class="display-4 text-center text-primary">¡Bienvenido al Sistema de  Gestión de Libros!</h1>
    <hr class="my-4">
    <%- include('carrusel') %>

</div>